@font-face {
    font-family: 'Ananda Personal Use';
    src: url('../fonts/Ananda\ Personal\ Use.ttf');
}

.name-app{
    font-family: 'Ananda Personal Use';
    font-size: xx-large;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.8);
    -webkit-text-stroke: .3px rgb(29, 224, 150);
    margin: 10px;
}

img{
    height: 600px;
}

.nav-estilos{
    background-color: rgb(224, 63, 29);
}

.botones-form{
    box-shadow: 3px 3px 2px rgba(100, 100, 100, 0.5);
    font-family: 'Home And Work';
    src: url('../fonts/Home\ And\ Work.otf');
    font-size: xx-large;
    padding: 0px 10px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.log-in{
    background-color: rgb(10, 148, 95);
}

.register{
    background-color: rgb(29, 224, 150)
}

.principal{
    width: 100vw;
    height: 65vh;
    background-color: rgb(224, 63, 29);
    box-shadow: 10px 0px 8px rgb(0, 0, 0);
}

.secundario-estilos{
    background-color: rgb(10, 148, 95);
}

.imgManos{
    width: 70%;
}

.logo{
    width: 30%;
    height: 60%;
    border-radius: 20px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.centrar{
    justify-content: center;
}

.titulo{
    font-family: 'Home And Work';
    src: url('../fonts/Home\ And\ Work.otf');
    font-size: 90px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.8);
    -webkit-text-stroke: 1px rgb(29, 224, 150);
}

.subtitulo{
    font-family: 'Ananda Personal Use';
    font-size: xx-large;
    color: rgb(255, 255, 255);
    margin-top: 5%;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.8);
    -webkit-text-stroke: .3px rgb(59, 255, 180);
}

.estilos-form{
    width: 50%;
}

.contenedor-estilos{
    padding: 15px;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
}

.form-estilos{
    border-radius: 10px;
    padding: 20px 5px 20px 5px;
    background-color: rgb(224, 63, 29);
    border: 1px solid rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}

.carousel-estilos{
    border-radius: 5px;
    box-shadow: 1px 1px 10px gray;
}

@media (max-width: 425px) { 
    .text-estilos{
        font-size: small;
    }
    
    .span-hide{
        display: none;
    }
}